* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {display: flex;
    flex-direction: row;
    justify-content: ;
    align-items: ;
    flex-wrap: ;
    gap: ;

}
.item {
    width: 100%;
    height: 100px;
    background-color: rgb(34, 131, 76);
    color: aliceblue;

}   