<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Paris-accueil</title>
</head>
<body>
    <header>
        <a class="paris" href="../index.html">Paris</a>



        <nav>
            <a href="../index.html">accueil</a>
            <a href="contact.html">contact</a>
            <a href="apropos.html">a propos</a>
        </nav>



    </header>
    <main>
        <h1>A PROPOS</h1>





    </main>
    
</body>
</html>